a:link {
    /* 超链接取消下划线 */
    text-decoration: none;
}

/* 鼠标经过 */
a:hover {
    transition: background-color 0.3s;
    color: skyblue;
    text-decoration: none;
}

/* 鼠标点击 */
a:active {
    color: brown;
    text-decoration: none;
}

input:focus {
    transition: background-color 0.3s;
    outline-color: skyblue;
}

.fs18 {
    font-size: 18px;
}


.right {
    text-align: right;
}

.nav {
    font-size: 25px;
    display: flex;
    gap: 100px;
    background-color: rgb(254, 240, 219);
}

.nav a {
    height: 115px;

    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #ddd;
}